@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


a.active{
   color:rgb(8, 164, 8);
  color: white ;
   font-weight:bold;
}
/* google font-1 */
.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



              /* #4C495D --dark gray---5 */
              /* #D1D7E0 -- light gray---4*/
              /* #564F6F ---3 */
              /* #2D283E ---2 */
              /* #802BB1  purple ---1 */