@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


a.active{
   color:rgb(8, 164, 8);
  color: green ;
   font-weight:bold;
   scale: 1.1;
}
/* google font-1 */
.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* google font-2 */
.sansita-font {
  font-family: "Sansita", sans-serif;
  font-weight: normal;
  font-style: normal;
}


html.dark {
  --bg-color: #000000;
  --text-color: white;
  background-color: var(--bg-color);
  color: var(--text-color);
}
